@font-face {
    font-family: "Muli";
    src: url("/assets/fonts/Muli-Regular.ttf") format("ttf");
}
body {
    font-family: "Muli";
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    color: $text;
}
#app {
    height: 100%;
}
.container {
    max-width: 1200px;
    padding: 0 25px;
    margin: 0 auto;
    height: 100%;
}