// 
// Navigation 
//
.navList {
    display: flex;
    @include flexSetup(row, flex-start, center);
    padding: 25px 0;
    &__item {
        margin: 0 40px 0 0;
        text-decoration: none;
        color: $text;
        font-weight: 600;
        position: relative;
        transition: color .3s;
        &:nth-of-type(even):hover {
            color: $primaryLight;
        }
        &:nth-of-type(odd):hover {
            color: #9E15BF;
        }
    }
}